*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: white;
  background-color: darkslategray;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1{
  color: darkslategrey;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: rgb(218, 200, 174);
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}